* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* The box-sizing CSS property sets how the total width and height of an element is calculated.  */

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./assets/winter.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm {
  background-image: url('./assets/summer.jpg') ;
}

main {
  min-height: 100vh;
  /* adds a gradient on top of picture so that its not too bright */
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0,0.75));
  /* padding brings the search box slightly inward */
  padding: 25px;
  
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  /* width of the entire search bar */
  width: 100%;
  /* height of the searchbar */
  padding: 15px;
  /* appearance gives the searchbar depth */
  appearance: none;
  /* background none makes it transparent */
  background: none;
  border:none;
  outline:none;

  /* fine white background to the searchbar */
  background-color: rgba(255, 255, 255, 0.5);
  /* rounding the searchbar */
  border-radius: 0px 0px 16px 16px;
  /* margin top to bring the search bar all the way to the top */
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0, 0.2);
  /* text color */
  color: #323232;
  font-size: 20px;

  transition: 0.3 ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}